:root {
  --text-color: #c6c6c6;
  --green-color: #1f8053; 
  --black-color: black;
  --white-color: white;
  --border-color: #1c1c1c;
  --rgb-black: 0, 0, 0;
  --rgb-green: 31, 128, 83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-color);
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--text color);
}

a {
  color: var(--white-color);
  text-decoration: none;
}

.container {
  max-width: 1530px;
  margin: auto;
  padding: 0 10px;
}

header {
  padding: 50px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation nav {
  display: flex;
  gap: 40px;
  border: 1px solid var(--border-color);
  padding: 15px 50px;
  border-radius: 30px;
}

.main-navigation nav a {
  transition: 0.3s;
}

.main-navigation nav a:hover {
  color: #1f8053;
}

.secondary-cta-btn {
  padding: 15px 20px;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.secondary-cta-btn:hover {
  border-color: #1f8053;
  transition: 0.3s;
}

.secondary-cta-btn img {
  transform: rotate(-45deg);
}

.secondary-cta-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.secondary-cta-btn:hover::before {
  background: linear-gradient(
    90deg,
    rgba(var(--rgb-black), 0) 0%,
    rgba(var(--rgb-green), 0.3) 50%,
    rgba(var(--rgb-black), 0) 100%
  );
}

.cta-btn {
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(var(--rgb-green), 1) 0%,
    rgba(var(--rgb-black), 0) 50px
  );
  padding: 2px;
  border-radius: 30px;
}

.cta-btn .black-btn-bg {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  padding: 15px 20px;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(var(--rgb-green, 0.7);
}

.cta-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(var(--rgb-green), 1) 0%,
    rgba(var(--rgb-green), 1) 100%
  );
}

.cta-btn:hover .black-btn-bg {
  animation: pulse-shadow 1.5s infinite;
}

.btn-arrow-wrapper {
  overflow: hidden;
  width: 17px;
  height: 17px;
}

.btn-arrow-wrapper img {
  transform: translate(0, 0) rotate(-45deg);
}

a:hover .btn-arrow-wrapper img {
  transform: translate(100%, -100%) rotate(-45deg);
  animation: arrow-moving 0.3s linear;
}

.hero {
  position: relative;
  height: 100vh;
  padding-top: 200px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--rgb-black), 0.3);
  z-index: 2;
}

.hero video {
  transform: rotate(180deg);
  width: 100%;
}

.hero .video-wrapper {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 70%;
}

.hero .hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
}

.hero .hero-content h1 {
  font-size: 9.375rem;
  font-weight: 800;
  line-height: 1.2;
  background: linear-gradient(90deg, rgba(150, 209, 76, 1) 0%, rgba(198, 198, 198 1) 50%, rgba((150 209 76 1) -100%);
  color: transparent;
  background-clip: text;
}

.hero .hero-content h2 {
  font-size: 1.785rem;
    font-weight: 400;
    line-height: 1;
}
  
  

  .hero .hero-content p {
    font: 1.5rem;
    max-width: 880px;
    font-weight: 300;
  }

.hero .video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(var(--rgb-black), 1) 0%,
    rgba(var(--rgb-black), 0.3) 100%
  );
}

.hero .hero-lines {
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  height: 70vh;
}