* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

header {
  padding: 50px 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation nav {
  display: flex;
  gap: 40px;
  border: 1px solid #1c1c1c;
  padding: 15px 50px;
  border-radius: 30px;
}

.main-navigation nav a {
  transition: 0.3s;
}

.main-navigation nav a:hover {
  color: #1f8053;
}

.secondary-cta-btn {
  padding: 15px 20px;
  border: 1px solid #1c1c1c;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.secondary-cta-btn:hover {
  border-color: #1f8053;
  transition: 0.3s;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-arrow-wrapper {
  overflow: hidden;
  width: 17px;
  height: 17px;
}

.btn-arrow-wrapper img {
  transform: translate(0, 0) rotate(-45deg);
}

a:hover .btn-arrow-wrapper img {
  animation: arrow-moving 0.3s linear;
}

@keyframes arrow-moving {
  0% {
    transform: translate(0, 0) rotate(-45deg);
  }
  45% {
    transform: translate(100%, -100%) rotate(-45deg);
  }
  50% {
    transform: translate(-100%, 100%) rotate(-45deg);
  }
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
}
