* {
  padding: 0;
  margin: 5px];
  box-sizing: border-box;
  border: 1px solid red;
}

h1 {
  color: rgb(41, 14, 59);
  text-decoration: underline;
  background-color: rgb(87, 50, 16);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.glavni-div {
  background-color: blue;
  height: 100px;
  width: 400px;
  margin: 20px;
  padding: 10px;
}
